---
import MainLayout from '../layouts/MainLayout.astro';
import Scoreboard from '../components/host/Scoreboard.astro';
import Lobby from '../components/host/Lobby.astro';
import VraagScherm from '../components/host/VraagScherm.astro';
---

<MainLayout>
    <Lobby />
    <VraagScherm />
    <Scoreboard />

    <script>
        // maak verbinding met websocket server
        const ws = new WebSocket('ws://localhost:8081');

        // functie om te wisselen tussen de componenten
        function toonScherm(actiefSchermId) {
            const alleSchermen = ['wachtScherm', 'vraagScherm', 'eindScherm'];
            
            alleSchermen.forEach(scherm => {
                document.getElementById(scherm)?.classList.add('hidden');
            });
            
            document.getElementById(actiefSchermId)?.classList.remove('hidden');
        }

        // log in de console als de verbinding gelukt is
        ws.onopen = () => {
            console.log('Connected to server');
        };

        // functie die luistert naar elk bericht dat de server naar de host stuurt
        ws.onmessage = async (event) => {
            try {
                // maak leesbare tekst van de data
                let tekstData = event.data;
                if (tekstData instanceof Blob) tekstData = await tekstData.text();

                // envelop uitpakken (van JSON tekst erug naar bruikbaar JS)
                const envelop = JSON.parse(tekstData);

                // MARK: speler ingelogd
                if (envelop.type === 'spelers_update') {
                    const messages = document.getElementById('messages') as HTMLElement;
                    messages.innerHTML = ''; // maak eerst leeg
                
                    // elke nieuwe speler nieuwe regel
                    envelop.spelerLijst.forEach((speler) => {
                        const newMessage = document.createElement('div');
                        newMessage.textContent = `Speler in de game: ${speler}`;
                        messages.appendChild(newMessage);
                    });
                }

                // MARK: vraag gestart
                else if (envelop.type === 'nieuwe_vraag') {
                    // verberg volgende knop tijdens het beantwoorden
                    document.getElementById('nextBtn')?.classList.add('hidden');
                    document.getElementById('eindscoreBtn')?.classList.add('hidden');

                    toonScherm('vraagScherm');

                    // update de vraag-teller
                    const teller = document.getElementById('vraagTeller');
                    if (teller) {
                        teller.textContent = `Vraag ${envelop.vraagNummer} / ${envelop.totaalVragen}`;
                    }

                    // reset en start de timer-balk
                    const balk = document.getElementById('timerBalk');

                    if (balk) {
                        // stop animatie en zet hem direct weer op 100%
                        balk.style.transition = 'none';
                        balk.style.width = '100%';
                        
                        // forceer de browser om deze verandering direct door te voeren
                        balk.offsetHeight; 

                        // start de animatie naar 0% over 20 seconden
                        balk.style.transition = 'width 20s linear';
                        balk.style.width = '0%';
                    }

                    // elementen ophalen om te vullen met vraag-data
                    const titelElement = document.querySelector('#vraagScherm h2');
                    const afbeeldingElement = document.getElementById('vraagAfbeelding');
                    const optiesContainer = document.getElementById('hostOpties');
                    const uitslagTekst = document.getElementById('hostUitslagTekst');

                    // reset alles
                    optiesContainer.innerHTML = '';
                    uitslagTekst.classList.add('hidden');

                    // sla type vraag op in de window
                    window.huidigeVraagSoort = envelop.vraagSoort;

                    // vraag: foto met 4 titel antwoorden
                    if (envelop.vraagSoort === 'mc_titels') {
                        titelElement.textContent = 'Welke aflevering is dit?';
                        afbeeldingElement.src = envelop.afbeelding;
                        afbeeldingElement.classList.remove('hidden');
                        
                        envelop.opties.forEach((optieTekst, index) => {
                            const knop = document.createElement('div');
                            knop.classList.add('host-optie-knop', `kleur-${index}`);
                            knop.textContent = optieTekst;
                            optiesContainer.appendChild(knop);
                        });
                    }

                    // vraag: titel met 4 foto antwoorden
                    else if (envelop.vraagSoort === 'mc_plaatjes') {
                        titelElement.textContent = envelop.titel;
                        afbeeldingElement.classList.add('hidden');
                        
                        // antwoordknoppen
                        envelop.opties.forEach((optieUrl, index) => {
                            const knop = document.createElement('div');
                            knop.classList.add('host-optie-knop', `kleur-${index}`);
                            knop.style.backgroundImage = `url(${optieUrl})`;
                            knop.style.backgroundSize = 'cover';
                            knop.style.backgroundPosition = 'center';
                            knop.style.height = '200px'; 
                            optiesContainer.appendChild(knop);
                        });
                    }

                    // vraag: foto met open antwoord
                    else if (envelop.vraagSoort === 'open_seizoen') {
                        titelElement.textContent = `Uit welk seizoen komt: ${envelop.titel}?`;
                        afbeeldingElement.src = envelop.afbeelding;
                        afbeeldingElement.classList.remove('hidden');
                    }
                }

                // MARK: iedereen geantwoord
                else if (envelop.type === 'ronde_uitslag_host') {
                    // stop de timer-balk animatie op het punt waar hij nu is
                    const balk = document.getElementById('timerBalk');

                    if (balk) {
                        const huidigeBreedte = getComputedStyle(balk).width;
                        balk.style.transition = 'none';
                        balk.style.width = huidigeBreedte;
                    }

                    // nakijken open vraag (toon tekst met juiste seizoen)
                    if (window.huidigeVraagSoort === 'open_seizoen') {
                        const uitslagTekst = document.getElementById('hostUitslagTekst');
                        uitslagTekst.textContent = `Het juiste antwoord was: Seizoen ${envelop.juisteAntwoord}`;
                        uitslagTekst.classList.remove('hidden');
                    } 
                    // nakijken meerkeuze vraag (highlight juiste optie)
                    else {
                        const knoppen = document.getElementById('hostOpties').children;

                        // maak foute antwoorden doorzichtig en highlight het juiste antwoord
                        for (let i = 0; i < knoppen.length; i++) {
                            if (i !== envelop.juisteIndex) {
                                knoppen[i].classList.add('fout-antwoord');
                            } else {
                                knoppen[i].classList.add('goed-antwoord');
                            }
                        }
                    }

                    // laat tussenstand knop zien
                    document.getElementById('tussenstandBtn')?.classList.remove('hidden');

                    // bericht scores in de console
                    console.log("Huidige scores:", envelop.scores);

                    // kies welke knop getoond wordt (volgende vraag vs. eindscore)
                    if (envelop.isLaatsteVraag) {
                        document.getElementById('eindscoreBtn')?.classList.remove('hidden');
                        document.getElementById('nextBtn')?.classList.add('hidden');
                    } else {
                        document.getElementById('nextBtn')?.classList.remove('hidden');
                        document.getElementById('eindscoreBtn')?.classList.add('hidden');
                    }
                } 
                
                // MARK: eindscore
                else if (envelop.type === 'eindscore') {
                    toonScherm ('eindScherm');

                    // inhoud titels en knoppen
                    document.getElementById('scoreboardTitel').textContent = 'The One Who Won The Quiz 🏆';
                    document.getElementById('restartBtn').classList.remove('hidden');
                    document.getElementById('terugNaarQuizBtn').classList.add('hidden');

                    const scoreLijst = document.getElementById('scoreLijst');
                    scoreLijst.innerHTML = ''; 

                    // server stuurt object met scores > array van maken > sorteren hoog naar laag
                    const gesorteerdeScores = Object.entries(envelop.scores).sort((a, b) => b[1] - a[1]);

                    // elke speler met score laten zien
                    gesorteerdeScores.forEach(([naam, punten], index) => {
                        const spelerRegel = document.createElement('div');
                        spelerRegel.classList.add('speler-rij');
                        
                        // winnaar anders gestyled
                        if (index === 0) {
                            spelerRegel.classList.add('winnaar');
                        }

                        // zet juiste medaille emoji bij de spelers
                        let medaille = '👏 ';
                        if (index === 0) medaille = '🥇 ';
                        else if (index === 1) medaille = '🥈 ';
                        else if (index === 2) medaille = '🥉 ';

                        spelerRegel.innerHTML = `<span>${medaille} ${naam}</span> <span>${punten} ptn</span>`;
                        scoreLijst.appendChild(spelerRegel);
                    });
                }

                // MARK: lobby knop
                else if (envelop.type === 'ga_naar_lobby') {
                    toonScherm('wachtScherm');
                }

                // MARK: tussenstand
                // alles van eindscore maar dan andere teksten
                else if (envelop.type === 'tussenstand') {
                    toonScherm ('eindScherm');

                    // pas titels en knoppen aan 
                    document.getElementById('scoreboardTitel').textContent = 'Tussenstand 📊';
                    document.getElementById('restartBtn').classList.add('hidden');
                    document.getElementById('terugNaarQuizBtn').classList.remove('hidden');

                    const scoreLijst = document.getElementById('scoreLijst');
                    scoreLijst.innerHTML = ''; 
                    const gesorteerdeScores = Object.entries(envelop.scores).sort((a, b) => b[1] - a[1]);

                    gesorteerdeScores.forEach(([naam, punten], index) => {
                        const spelerRegel = document.createElement('div');
                        spelerRegel.classList.add('speler-rij');
                        
                        if (index === 0) {
                            spelerRegel.classList.add('winnaar');
                        }

                        let medaille = '👏 ';
                        if (index === 0) medaille = '🥇 ';
                        else if (index === 1) medaille = '🥈 ';
                        else if (index === 2) medaille = '🥉 ';

                        spelerRegel.innerHTML = `<span>${medaille} ${naam}</span> <span>${punten} ptn</span>`;
                        scoreLijst.appendChild(spelerRegel);
                    });
                }

            } catch (error) {
                console.error('Fout bij uitpakken data:', error);
            }
        };

        // log wanneer iemand disconnect
        ws.onclose = () => {
            console.log('Disconnected from server');
        };

        // MARK: knoppen
        // testknop (testbericht naar server)
        document.getElementById('send').addEventListener('click', () => {
            const input = document.getElementById('message') as HTMLInputElement;
            
            // maak envelop
            const envelop = {
                type: 'host_bericht',
                tekst: input.value
            };
            
            ws.send(JSON.stringify(envelop));
            input.value = '';
        });

        // start spel knop
        document.getElementById('startGameBtn').addEventListener('click', () => {
            const envelop = {
                type: 'start_game'
            };
            ws.send(JSON.stringify(envelop));
        });

        // volgende vraag knop
        document.getElementById('nextBtn')?.addEventListener('click', () => {
            const envelop = {
                type: 'start_game'
            };
            ws.send(JSON.stringify(envelop));
        });

        // eindscore knop
        document.getElementById('eindscoreBtn')?.addEventListener('click', () => {
            const envelop = {
                type: 'naar_eindscore'
            };
            ws.send(JSON.stringify(envelop));
        });

        // terug naar lobby knop
        document.getElementById('restartBtn')?.addEventListener('click', () => {
            // stuur signaal naar server
            ws.send(JSON.stringify({ type: 'terug_naar_lobby' }));
        });

        // tussenstand knop
        document.getElementById('tussenstandBtn')?.addEventListener('click', () => {
            ws.send(JSON.stringify({
                type: 'vraag_tussenstand'
            }));
        });

        // knop tussenstand naar quiz
        document.getElementById('terugNaarQuizBtn')?.addEventListener('click', () => {
            toonScherm('vraagScherm');
            document.getElementById('tussenstandBtn')?.classList.add('hidden');
        });
    </script>
</MainLayout>

<style is:global>
    .hidden {
        display: none !important;
    }
</style>